body {
  background-color: #cccccc;
  background-image: url("../img/computer-background.jpg");
}

h1 {
  font-weight: bold;
  text-align: center;
}

h3 {
  font-weight: bold;
}

p {
  font-family: monospace;
}

label {
  font-weight: normal;
}

.error {
  color: red;
  text-decoration: underline;
}

#illegalValue {
  display: none;
}

#outputWell {
  display: none;
}
