body {
  background-color: #cccccc;
  background-image: repeating-radial-gradient(red, yellow);
}

.error {
  color: red;
  text-decoration: underline;
}

#illegalValue {
  display: none;
}

#outputWell {
  display: none;
}
